#game-end, #game-player-end {
  position: fixed;
  margin-left: 0;
  padding: 0;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      width: 20vw;
      min-width: 212px;
    }

  }
}