.game-list-item {

  .game-status-block {
    display: flex;

    .game-action-button {
      margin-right: 8px;
    }

    .game-status {
      padding: 2px 4px;
      width: 80px;
      border-radius: 8px;
      font-size: 10px;
    }

  }

  p {
    margin: 0;
  }

  .info-line {
    display: flex;
    flex-direction: row;
    align-items: center;

    p:nth-child(1) {
      margin-right: 8px;
      font-weight: bold;
    }
  }

}