.player-list-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-right: 24px;
  position: relative;

  .player-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    border: transparent solid 2px;
  }

  p {
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: bold;
  }

  .is-creator-icon {
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 24px;
  }
}