@import 'antd/dist/antd.css';
@import './styles/game-list-item.style.scss';
@import './styles/player-list-item.style.scss';
@import './styles/game-information.style';
@import './styles/game-player-state.style';
@import './styles/game-end.style';
@import './styles/home.style';


#root {
  height: 100%;
}

.App {
  height: 100%;
  .header {
    display: flex;
    align-items: center;
    .network-information {
      margin-left: 16px;
      max-height: 32px;
    }
  }
}

.ant-layout {
  height: 100%;
  background: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  padding: 16px;
  min-height: 100%;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}


#canvas-container {
  position: relative;
  overflow-x: auto;
  width: 100%;

  
}